@font-face {
  font-family: roboto;
  src: url(./robotoflex/RobotoFlex[GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght].ttf);
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: .5fr 3fr;
  margin: 0;
  font-size: larger;
  font-family: roboto, sans-serif, Arial, Helvetica, sans-serif;
}

/* Sidebar of the Dashboard */
.sidebar {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  padding-inline: 20px;

  background-image: url(./Images/sidewall.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


ul {
  list-style: none;
  padding: 0;
  font-size: 30px;
}

li, h1 {
  display: flex;
  align-items: center;
  padding-block: 10px;
  gap: 10px;
}


/* Header */
.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding: 20px;
  box-shadow: 10px 10px 10px black;
}

input[type='search']{
  width: 85%;
  height: 45px;
  border: none;
  border-radius: 30px;
  padding-inline: 20px;

  outline-color: #FAD02C;
  background-color: #e0e4eceb;
}

.user-info, .user, .search-bar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-actions, .user-info {
  display: flex;
  margin-left: auto;
  gap: 1.5rem;
}

.user-actions * {
  padding-inline: 20px;
  padding-block: 5px;
  background-color: #FAD02C;
  border-radius: 20px;
}

.small-profile,
.user-trend > img {
  width: 50px;
  border-radius: 100%;
}

.large-profile {
  width: 100px;
  border-radius: 100%;
  padding-block: 20px;
}

.user p,
h2 {
  margin: 0%;
}



/* Main content */
.title-section {
  padding-left: 10px;
  font-size: 25px;
  color: #22262A;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;  
  gap: 20px;
  padding-inline: 20px;
  padding-bottom: 50px;

  background-color: #e0e4eceb;
  color: aliceblue;
}


/* Projects Section */
.main-projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: calc(100vh / 5);
  padding-inline: 20px;
  border-radius: 15px;
  border-left: 15px solid #FAD02C;
  box-shadow: 5px 5px 5px grey;

  background-color: #22262A;
}

.main svg {
  padding-inline: 10px;
  margin-inline: 5px;
  margin-block: 10px;
  border-radius: 10px;
  background-color: aliceblue;
}

.btn {
  margin-left: auto;
}

/* Announcements Section */
.announcements {
  border-radius: 15px;
  padding-inline: 35px;
  padding-block: 30px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px grey;
  background-color: #22262A;
}

.message > div {
  padding-block: 5px;
  font-size: 1rem;
}

.br {
  border-bottom: .5px solid;
}


/* Trending Section */
.trending {
  background-color: #22262A;
  border-radius: 10px;
  padding: 15px;
}

.user-trend {
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

li:hover,
.btn:hover,
.user-actions *:hover,
.user-info *:hover,
.large-profile:hover {
  cursor: pointer;
}